mysql/data/*
.idea/*
*/.idea/*
*/target/*
*/*/target/*
*/*/.idea/*
biblioteca/expection/target/*
biblioteca/page-request-info/target/*
biblioteca/pague-request-info/target/*
.env
.env-build-all
Certificados/*