@page  {
    size: A4;
    margin: 5mm;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
    color: black;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.invoice-box {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid black;
    background-color: #fff;
    box-sizing: border-box;
}

/* Encabezado */
.header {
    width: 100%;
    height: 180px;
}

.header-1row,
.header-2row {
    width: 100%;
    overflow: hidden;
}

.header-2row {
    display: table;
    height: 80px;
    margin-top: 35px;
}

.header-2row > div {
    display: table-cell;
    vertical-align: middle;
}

/* Primera fila: imagen e información de factura */
.header-1row img {
    float: left;
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
}

.header-1row .invoice-data {
    float: right;
    text-align: right;
}

/* Segunda fila: datos Climedar */
.header-2row .climedar-data {
    margin-top: 20px;
    float: left;
    text-align: left;
    width: 30%;
}

.header-2row .climedar-cuit {
    float: right;
    text-align: right;
    margin-top: 20px;
    width: 30%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: black;
    clear: both;
}

/* Datos del paciente */
.patient-data {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

.patient-address {
    float: left;
    width: 20%;
}

.patient-dni {
    float: right;
    width: 20%;
    text-align: right;
}

/* Datos de pago */
.payment-data {
    width: 100%;
    height: 50px;
    line-height: 50px; /* Para centrar verticalmente */
}

/* Servicios */
.services-data {
    margin: 20px 0 0 0 ;
    padding: 0;
    width: 100%;
    height: 620px;
}

.services-data p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.services-table {
    padding-top: 15px;
    text-align: center;
}

.services-table table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

.services-table th,
.services-table td {
    padding: 5px;
    text-align: left;
}

.services-table th {
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.services-table .col-first {
    width: 25%;
}

.services-table .col-second {
    width: 62%;
}

.services-table .col-last {
    width: 20%;
    text-align: center;
}

/* Total */
.total {
    text-align: right;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.total h1 {
    display: inline-block;
    margin-left: 20px;
}