<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Factura</title>
    <link rel="stylesheet" type="text/css" href="invoice/invoice_style.css" />
</head>
<body>
<div class="invoice-box">
    <div class="header">
        <div class="header-1row">
            <img src="images/climedar-negro.png" alt="Logo Climedar" />

            <div class="invoice-data">
                <h1>Factura</h1>
                <p th:text="|Nro factura: 0001-${invoiceNumber}|">Nro factura: 0001-99999999</p>
                <p th:text="|Fecha: ${invoiceDate}|">Fecha: 10-10-2025</p>
            </div>
        </div>

        <div class="header-2row">
            <div class="climedar-data">
                <p><b>Climedar</b></p>
                <p>LA PLATA</p>
                <p>IVA RESPONSABLE INSCRIPTO</p>
            </div>

            <div class="climedar-cuit">
                <p>CUIT: 99-99999999-9</p>
                <p>IIBB: 999999999</p>
            </div>
        </div>

    </div>

    <div class="divider"></div>

    <div class="patient-data">
        <div class="patient-address">
            <p th:text="|Paciente: ${patientName}|">Patient: John Doe</p>
            <p th:text="|Direccion: ${patientAddress}|">Direccion: 123 Main st</p>
            <p th:text="|Localidad: ${patientProvince}|">Localidad: La Plata</p>
        </div>
        <div class="patient-dni">
            <p th:text="|DNI: ${patientDni}|">DNI: 12345678</p>
            <p th:text="|Telefono: ${patientPhone}|">Telefono: 1234 214299</p>
            <p th:text="|Email: ${patientEmail}|">Email: ejemplo@ejemplo.com</p>
        </div>
    </div>

    <div class="divider"></div>

    <div class="payment-data">
        <h3 th:text="|METODO DE PAGO: ${paymentMethod}|">METODO DE PAGO: Efectivo</h3>
    </div>

    <div class="divider"></div>

    <div class="services-data">
        <p>Servicios: </p>

        <div class="services-table">
            <table>
                <thead>
                <tr>
                    <th class="col-first">Codigo</th>
                    <th class="col-second">Nombre</th>
                    <th class="col-last">Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${services}">
                    <td class="col-first" th:text="|${service.code}|">MS-THER-CAR-00001</td>
                    <td class="col-second" th:text="|${service.name}|">Consulta Ginecologica</td>
                    <td class="col-last" th:text="|$ ${service.price}|">$ 5000000</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="total">
        <h1 th:text="|TOTAL: $${finalPrice}|">TOTAL: $5000000</h1>
    </div>
</div>
</body>
</html>
